



<div class="footer">
<div class="container">
<a class="button" target="_blank" href="https://www.facebook.com/tifenmtx"><i class="fa fa-facebook" aria-hidden="true"></i></a>
<a class="button" target="_blank" href="https://www.instagram.com/tifen.es/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
<a class="button" target="_blank" href="https://www.behance.net/tifen_"><i class="fa fa-behance" aria-hidden="true"></i></a>
    <p><a href="mailto:freelance.stephen@outlook.com">freelance.stephen@outlook.com</a></p>
</div>
</div>
