<div class="nav">
  <div class="container">
        <div class="logo">
          <!-- <a href="/">Jared <span class="Sellers">Sellers</span> Illustration</a> -->
          <a href="/">Stephen Mtz <span class="Sellers">Designer</span></a>
        </div>
        <div class="links">
            <ul>
              <li class="sitelink"><a href="/portfolio">PORTAFOLIO</a></li>
              <!-- <li class="sitelink"><a href="/blog">BLOG</a></li> -->
              <li class="sitelink"><a href="/about">ACERCA</a></li>
              <li class="sitelink"><a href="/contact">CONTACTO</a></li></ul>
        </div>
    </div>
</div>
